@import "tailwindcss" source(none);
@source "../css";
@source "../js";
@source "../../lib/my_app_web";

/* A Tailwind plugin for phoenix. */
@plugin "../vendor/heroicons";
@plugin "@tailwindcss/forms";

/* daisyUI Tailwind Plugin. You can update this file by fetching the latest version with:
   curl -sLO https://github.com/saadeghi/daisyui/releases/latest/download/daisyui.js */
@plugin "../vendor/daisyui" {
  themes: false;
}

/* daisyUI theme plugin */
@plugin "../vendor/daisyui-theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
}

/* Use the data attribute for dark mode  */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Make LiveView wrapper divs transparent for layout */
[data-phx-session] {
  display: contents;
}

/* This file is for your main application CSS */
